* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Sen', sans-serif;
}
header {
    height: 500px;
    background-color: blue;
}
.header-top{
    height: 100px;

}
.header-bottom {
    background-image: url("two-men.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.container{
    width: 1300px;
    margin:auto;

}
.logo-container{
    width: 15%;
    float:left;
    height: 100%;

}
#logo{
    padding-top: 26px;
}
.menu-container{
    width: 50%;
    float:left;
    height: 100%;

}
#main-menu{
    list-style-type: none;
}
#main-menu li{
    display: inline-block;
}
#main-menu li a {
    color :white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;

}
#main-menu li a:hover{
    color:black;
}
.cta-container{
    text-align: right;
    width: 35%;
    float: left;
    height: 100%;
}
.cta-container a{
    margin-left: 6px;
}
.btn{
    padding:10px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}
#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}
.btn-primary {
    background-color: green;
    border-color: green;
}
.titolo{
    text-align: center;
}
p{
    margin-top: 10px;
}
h3{
    margin-top: 8px;
    font-size: 24px;
    font-weight: 300;
}
section{
    height: 350px;
    padding:40px 50px;
}
.parte-centrale img{
    height: 160px;
    margin-top: 5px;

}
.box {
    float: left;
    width:33.3%;
    text-align: center;

}
.box h3 {
    margin-top: 30px;
    color: #7fb802;
}
hr{
    width: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    border-width: 2px;

}
